#taskbarcontainer__button
{
   @include Addtaskbutton;
    &:hover {
      color:white;
      background: $green;
    }
    &:active {
      //letter-spacing: 2px;
      letter-spacing: 2px ;
      outline:none;

    }
    &:after {
      content:"ADD";
    }
  
  
}

// .onclick {
//     width: 40px;
//     border-color:$gray;
//     border-width:3px;
//     font-size:0;
//     border-left-color:$green;
//     animation: rotating 2s 0.25s linear infinite;
  
//     &:after {
//       content:"";
//     }
//     &:hover {
//       color:$green;
//       background: white;
//     }
//   }

  #validate {
    @include Addtaskbutton;
    font-size:13px;
    color: white;
    background: $green;
    &:after {
      content:"DONE";
    }
  }
  
//   @keyframes rotating {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
@media screen and (max-width:500px)
{
  #taskbarcontainer__button
{
    width: 6rem;
}
}
