@import "./addtaskbutton";

.taskbarcontainer
{
    width: 98rem;
    margin: 0 auto 2rem auto;
    form
    {
        width: 100%;
        @include flex;
    }
}

.taskbarcontainer__textbox
{   
    padding: 0;
    width: 90%;
    position: relative;

    .taskbarcontainer__textbox--text{
        width: 100%;
        height: 4rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 0.8rem $box-shadow2;
        border: transparent;
        outline: none;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .taskbarcontainer__textbox--checkbox
    {
        position: absolute;
        right:2rem;
        top: 1.3rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        color: $white;
        background-color: $orange;
        cursor: pointer;
    }
}

@media screen and (max-width : 980px)
{
    .taskbarcontainer
    {
        width: 90%;

    }
}