.Sidebar--open
{
    transition:0.35s;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: black;
    width: 20rem;
    z-index: 10;
    position: fixed;
}

.Sidebar--close
{
    transition:0.35s;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: black;
    width: 0rem;
    z-index: 10;
    position: fixed;
}   

.icon
{
   position: absolute;
   left: 1rem;
   top : 1rem;
   font-size: 2rem;
   color:$white;
   @include flex;

.sidebar--texthide
{
    margin-top: 0.7rem;
    padding: 1rem;
}

.sidebar--textshow
{
    padding: 1rem;
    font-weight: 600;
    margin-top: 0.7rem;
}
}

.total
{
   position: absolute;
   left: 1.3rem;
   top : 5rem;
   font-size: 2rem;
   color:$white;
   margin-top: 2rem;
}

