.Sidebar__open
{
    transition:0.35s;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: black;
    width: 20rem;
    z-index: 10;
    position: fixed;
}

.Sidebar__close
{
    transition:0.35s;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: black;
    width: 0rem;
    z-index: 10;
    position: fixed;
}   

.Sidebar__icon
{
   position: absolute;
   left: 1rem;
   top : 1rem;
   font-size: 2rem;
   color:$white;
   @include flex;
   text-transform: uppercase;
    .sidebar--texthide
    {
        margin-top: 0.7rem;
        padding: 1rem;
    }

    .sidebar--textshow
    {
        padding: 1rem;
        font-weight: 500;
        margin-top: 0.7rem;
    }


}
.Sidebar__closebutton
{
    font-size: 2rem;
    color: $white;
    cursor: pointer;
    position: absolute;
    left: -2rem;
}
//////////////////////////////////////////////////////

.Sidebar__logout 
{
    position: absolute;
    left: 1rem;
    top : 7rem;
    color:$white;
    font-size: 2rem;
    @include flex;
    text-transform: uppercase;
    cursor: pointer;
    .logout--text
    {
        padding-left: 1rem;
        padding-top: 0.7rem;
    }
}


.Sidebar__delete
{
   position: absolute;
   left: 1rem;
   top : 9.5rem;
   font-size: 2rem;
   color:$white;
   margin-top: 2rem;
   cursor: pointer;
   @include flex;
   .delete--text
   {
       padding-left: 1rem;
       padding-top: 0.7rem;
       text-transform: uppercase;

   }
}

@media screen and (max-width:500px)
{
    .Sidebar--open
    {
        width:15rem
    }
}