.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}

.swal-title {
    margin: 0px;
    font-size: 3rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.swal-text
{
    text-align: left;
}

