@import './tooltip';
@import './removebutton';

.taskdisplay
{
    @include flex;
    height: 4rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem $box-shadow2;
    padding-left: 2rem;
    width: 98rem;
    margin: 0 auto;
    position: relative;
}
.taskdisplay:hover
    {
        transform: translateY(-.2rem);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    }
.taskdisplay--checkbox
{
    position: absolute;
    left: 2rem;
    top: 1.5rem;
}
.taskdisplay--description
{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    flex: 0 0 65.3%

}

.taskdisplay--date
{
    font-weight: 600;
    font-size: 1.2rem;
    color:rgba(88, 80, 80, 0.51);
    flex: 0 0 20.3%
}

.taskdisplay--remove
{
    flex: 0 0 10.3%

}
@media screen and (max-width : 800px)
{
    .taskdisplay--wrapper
        {
           width: 90%;
           margin: auto;
        }

    .taskdisplay
    {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px)
{
    .taskdisplay--date
    {
        display: none;
    }
}