@import "../components/inputnboxicon";
@import "../components/heroicon";
@import "../components/loginbutton";

.loginwrapper {
  @include flex;
  min-height: 100vh;
  // background: linear-gradient(-135deg, $gradient-color1, $gradient-color2);
  background-color: $gradient-color2;
  background-image: linear-gradient(
    160deg,
    $gradient-color2 0%,
    $gradient-color1 46%,
    #ffcc70 100%
  );
  padding: 2rem;
  height: 100vh;
}

.scene {
  width: 200px;
  height: 80%;
  perspective: 600px;
  max-height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border: none;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: $white;
}

.card__face--back {
  background: $white;
  transform: rotateY(180deg);
  z-index: 1;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.image-container {
  max-height: 80%;
  @include flex;
  .image-wrapper {
    max-width: 100%;
    max-height: 100%;
  }
}
img 
{
  max-width: 100%;
  max-height: 100%;
}

.logincontainer {
  height: 100%;
  width: 96rem;
  margin: auto;
  display: flex;
  background-color: $white;
  border-radius: 1rem;
  position: relative;
}

.form {
  @include flex-column;
  padding: 5rem 0 6rem 0 ;

  & .Loginform {
    @include flex-column;
    font-size: 1.5rem;
    width: 60%;
    margin-bottom: 1.5rem;
  }

  .input--container {
    width: 100%;
    margin-bottom: 2.5rem;
    position: relative;
    input {
      height: 5rem;
      border-radius: 3rem;
      width: 100%;
      padding: 1rem;
      padding-left: 5rem;
      border: transparent;
      outline: none;
      box-shadow: 0 0.5rem 1rem #efefef;
    }
  }
}

//////////////////////////////////////////////////////////////////////
@media screen and (max-width: 769px) and (min-width: 700px) {
  .logincontainer {
    height: 65%;
    width: 95%;
  }
  .form {
    .Loginform {
      width: 80%;
    }
  }
}

@media screen and (max-width: 550px) {
  .loginwrapper {
    padding: 0.5rem;

  }
  .logincontainer {
    width: 95vw;
    min-height: 100%;
  }

  .form {
    .Loginform {
      width: 95%;
    }
  }

  .scene 
  {
    min-height: 70%;
    margin-top: 3rem;
  }
}
