@mixin flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin Button {
  padding: 0.5rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  border: 1px solid;
  text-transform: uppercase;
  background-color: $orange;
  color: $floral-white;
  outline: none;
}

@mixin Addtaskbutton
{
  outline:none;
  height: 4rem;
  text-align: center;
  width: 13rem;
  border-radius:0.7rem;
  background: $white;
  border: 0.2rem solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}